<%- include("header") -%>

<%- include("navbar") -%>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1>Contact us</h1>
      <p>
        We are a community dedicated to optimizing and performing research on Networks and eliminating cyberattacks and threats through the help
         of experts all across the globe.
      </p>
    </div>
    <div class="col-2">
    </div>
  </div>

<%- include("footer") -%>
