<%- include("header") -%>

<%- include("navbar") -%>

  <div class="row section-cont">
    <div class="col-3">
    </div>
    <div class="col-6">
      <h1 class="cont">Contact us</h1>
      <p class="cont">
        To reach out to the developer, simply click on the link below! 😀
      </p>
      <a target="_blank" href="https://vinsdragonis.github.io/">Reach out!</a>
    </div>
    <div class="col-3">
    </div>
  </div>

<%- include("footer") -%>
