<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a name="home" href="/">Dragon Networks</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="navbar-toggle" href="#"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a name="about" href="/about">About</a>
        </li>
        <li>
          <a name="about" href="/compose">Compose</a>
        </li>
        <li>
          <a target="_blank" href="https://vinsdragonis.github.io/">Portfolio</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/">Sign up</a>
        </li>
        <li>
          <a href="/">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</section>